@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;
$break-small-laptop: 1215px;
$break-medium: 1023px;
$break-small: 768px;
$primary: #2E0DF7;
$footer-padding: 3rem 1.5rem;
$breadcrumb-item-padding-vertical: 1rem;
$table-background-color: #fbfbfb;
$table-row-hover-background-color: #f0f0f0;
$list-item-hover-background-color: white;

// Import of bulma components
@import "../node_modules/bulma/bulma.sass";

@import "icons";

.printable {
	display: none;
}

@media print {
	.print-right {
		text-align: right !important;
	}
	.printable {
		display: block;
	}
	.no-print {
		display: none;
	}
}

.mb-1 {
	margin-bottom: 8px;
}

.is-pulled-left-mobile {
    @media screen and (max-width: $break-small) {
		float: none !important;
		display: block !important;
	}
}

.is-pulled-right-mobile {
    @media screen and (max-width: $break-small) {
		float: right !important;
	}
}

html, html body {
    color: black;
    font-family: 'Nunito', sans-serif;
    background: #fbfbfb;
    
    @media screen and (min-width: $break-medium) {
      &.has-navbar-fixed-top {
        padding-top: 4.9em;
      }
    }
    &.homepage {
    	background: #fff;
    }
}

.clickable-link{
	color: #2e0df7;
	text-decoration: underline;
	cursor: pointer;
}

html body.has-navbar-fixed-top  {
	&.promo-nav{
		padding-top: 135px;
		@media screen and (max-width: $break-medium) {
		    padding-top: 92px;
		    #top-location-info{
				top: 92px;  
		    }
		    #mobile-filter-tags{
			    top: 92px; 
		    }
		    #filter-button{
			    top: 160px;
		    }
		}
		#promo-navbar{
			background: #FBFBFB;
		    min-height: 40px;
		    padding-top: 0.5rem;
		    .container{
			    min-height: 40px;
			    justify-content: center;
			    position: relative;
			    #close-promo-nav{
				    position: absolute;
				    right: 0;
				    top: 0;
				    cursor: pointer;
				    font-size: 2em;
				    line-height: 0.7em;
				    font-weight: bold;
			    }
				@media screen and (max-width: $break-medium) {
					padding: 0 0.75rem;
					#close-promo-nav{
					    right: 0.75rem;
					    top: 2px;
					    font-size: 1.8em;
				    }
				}
		    }
		}
		#navbar{
			top: 40px;
		}
	}
}

body.no-scroll-mobile {
    @media screen and (max-width: $break-medium) {
        height: 100vh;
        overflow: hidden;
    }
}

.politique {
	ul {
		list-style-type: disc;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    padding-inline-start: 40px;
	}
}

// Shipping list fix
.radio.list-item+.radio.list-item{
	margin-left: 0;
}

#show-list {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 10;
}

.breadcrumb {
    @media screen and (max-width: $break-small) {
        overflow-x: auto;
        ul,
        ol{
	        flex-wrap: nowrap;
        }
    }
}

.container {
    @media screen and (min-width: 1408px) {
        max-width: 1152px!important;
    }
    @media screen and (max-width: $break-medium) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.notfound {
    text-align: center;
    padding: 5em 0;
    .title.is-1 {
        font-size: 6rem;
    }
}
#seller-navbar{
	@media screen and (max-width: $break-medium) {
	    padding-left: 1em;
	    padding-right: 1em;
	}
}
.navbar {
	#header-navbar-menu{
		flex-direction: column;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		
		@media screen and (max-width: $break-medium) {
		    padding-bottom: 6em;
		}
		#top-navbar-end{
		    @media screen and (min-width: $break-medium) {
			    margin-bottom: 0.35em;
				.navbar-item {
					padding: 0.2rem 0.75rem;
				}
			}
		}
		@media screen and (max-width: $break-medium) {
		    #top-navbar-end{
			    order: 2;
			    padding-top: 0.6em;
			}
			#bottom-navbar-end{
			    order: 1;
			}
		}
	}
	&.is-spaced{
	    @media screen and (min-width: $break-medium) {
			padding-top: 0.4rem;
		    padding-bottom: 0.4rem;
	    }
	}
    .navbar-brand{
        .navbar-burger{
            margin-left: 0;
        }
        .mobile-cart{
            margin-left: auto;
            button{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .admin-burger {
	    display: block !important;
	    width: 2em;
	    &:hover{
		    background-color: transparent;
	    }
    }
    .is-logged-in {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(-20%,220%);
		background-color: #48c774;
		color: #fff;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		line-height: 14px;
		text-align: center;
	}
	.item-magasiner{
        @media screen and (max-width: $break-medium) {
			max-width: 200px;
			margin: auto;
        }
	}
    .container {
        @media screen and (max-width: $break-medium) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .icon-text {
		align-items: flex-start;
		color: inherit;
		display: inline-flex;
		flex-wrap: wrap;
		line-height: 1.5rem;
		vertical-align: top;
    }
    .fontello {
	    font-size: 1.4em;
        @media screen and (min-width: $break-medium) {
			font-size: 1.2em;
		}
    }
    .navbar-item.item-logo{
	    padding: 0;
	    
        img{
            max-height: 5rem;
            @media screen and (max-width: $break-medium) {
				max-height: 2.8rem;
			}
        }
    }
    .navbar-item.menu-category{
	    img{
		    max-width: 30px;
			max-height: 25px;
	    }
    }
    .bd-navbar-icon {
		padding: 0.2rem 0.75rem;
	    @media screen and (max-width: $break-medium) {
	        display: inline-block;
	    }
    }
}

.location-top{
    @media screen and (max-width: $break-small) {
        padding-top: 115px !important;
    }
}

.is-fullwidth {
    width: 100%;
}

.select {
    width: 100%;
    select {
        width: 100%;
    }
}

.content-tab {
    padding: 0 1em;
    table {
        width: 100%;
    }
}

#map { 
    height: 400px; 
    margin-top: 30px;
}

.error-message {
    display: none;
}

.hero {
	background: #fbfbfb;
    .hero-body {
        background: white;
        @media screen and (max-width: $break-medium) {
            padding: 1rem 0;
        }
    }
}
#search-bar-container{
	display: flex;
    align-items: flex-end;
    margin-left: 25px;
    margin-bottom: 7px;
    @media screen and (max-width: $break-medium) {
	    display: block;
	    margin: 0;
	    background: white;
	    position: fixed;
	    z-index: 100;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    max-height: 100%;
	    overflow-y: auto;
	    overflow-x: hidden;
	    transform: translateX(-100%);
	    -webkit-transform: translateX(-100%);
	    transition: all 250ms cubic-bezier(0.165,0.84,0.44,1);
	    &.is-active {
		    transform: translateX(0);
		    -webkit-transform: translateX(0);
		}
    }
    
}
#search-bar{
	margin-bottom: 0;
    position: relative;
    min-width: 425px;
    @media screen and (max-width: 1215px) {
        min-width: 325px;
    }
	@media screen and (max-width: $break-medium) {
		input{
			border-radius: 0;
		}
	}
    .control:first-child{
	    width: 100%;
    }
    .fontello {
	    font-size: 1em;
	    font-weight: normal;
    }
    #search-for-city {
	    border-radius: 0px 4px 4px 0px;
	    @media screen and (max-width: $break-medium) {
			border-radius: 0;
		}
    }
    #search-results{
        position: absolute;
        top: 36px;
        width: 100%;
        z-index: 30;
        border: 1px solid #dbdbdb;
        background: white;
        display: none;
		@media screen and (max-width: $break-medium) {
			right: 0;
			left: 0;
			top: 40px;
			.list-item:first-child{
				border-radius: 0;
			}
		}
        figure {
			min-width: 65px;
			text-align: center;
	        img {
	            max-height: 40px;
	            max-width: 65px;
	        }
        }
        .list-item-title{
            background: #dbdbdb;
        }
        #has-results,
        #no-results{
            display: none;
        }
    }
}
.section {
    @media screen and (max-width: $break-medium) {
        padding-left: 0;
        padding-right: 0;
		text-align: center;
    }
    @media screen and (max-width: $break-small) {
        padding: 1rem 0.5rem;
    }
}
#accueil {
    .hero {
        .hero-body {
	        .columns{
				@media screen and (max-width: $break-medium) {
	            	display: flex;
	            	flex-direction: column;
	            	.column:first-child{
		            	order: 2;
	            	}
	            	.column:last-child{
		            	order: 1;
		            	padding: 1em;
	            	}
                }
	        }
            .title {
                color: #000;
                font-weight: 800;
                margin-bottom: 0;
                font-size: 2.5rem;
                margin-top: 2em;
				@media screen and (max-width: $break-small-laptop) {
                	margin-top: 1em;
                }
				@media screen and (max-width: $break-medium) {
                	margin-top: 0;
	            	text-align: center;
	            	font-size: 2.3rem;
                }
            }
            p {
				@media screen and (max-width: $break-medium) {
	            	text-align: center;
                }
            }
            .hero-img {
	            max-height: 355px;
				border-radius: 100px;
				box-shadow: 0 0 2em 0.5em rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,0.02);
				@media screen and (max-width: $break-small) {
                	max-height: 275px;
                	box-shadow: 0 1em 1em 0.5em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02);
                }
            }
            .input-hero {
                width: 100%;
            }
        }
    }
    .tile-ville {
	    .column:first-child {
	    	margin-left: 33.333333%;
			@media screen and (max-width: $break-medium) {
            	margin-left: 16.66667%;
            }
			@media screen and (max-width: $break-small) {
            	margin-left: 0;
            }
	    }
    	.tag {
	    	width: 100%;
    	}
    }
    .section-commerce{
	    background: #fbfbfb;
    }
    .home-categories{
        .column{
            padding: 1.5rem;
            transition: all .2s ease-out;
            img {
	            max-height: 65px;
            }
	        &:not(.is-disabled) {
	            &:hover{
	                transform: scale(1.2);
	                opacity: .5;
	                @media screen and (max-width: $break-small) {
						transform: none;
			        }
	            }
	        }
	        &.is-disabled {
            	opacity: 0.4;
	        }
            
        }
    }
    .infolettre-container{
	    .section{
		    padding-top: 0;
		    padding-bottom: 0;
	    }
	    .tags{
		    max-width: 850px;
		    margin-left: auto;
		    margin-right: auto;
		    .tag{
		        background-color: lightgray;
		        color: black;
		        &.is-primary{
		        	background-color: $primary;
			        color: white;
		        }
		    }
	    }
    }
}

.section-comment{
    .column{
	    img{
		    max-width: 200px;
		    max-height: 150px;
		    height: 150px;
	    }
    }
}

.textarea::-webkit-input-placeholder {
  color: #555 !important;
}

.textarea:-moz-placeholder { /* Firefox 18- */
  color: #555 !important;  
}

.textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #555 !important;  
}

.textarea:-ms-input-placeholder {
  color: #555 !important;  
}

.textarea::placeholder {
  color: #555 !important;
}

.texte-groupe .column:nth-child(1) {
    padding-top: 5em;
}

.columns.texte-endroits .column:nth-child(2) {
	@media screen and (max-width: $break-medium) {
		padding-top: 1em;
	}
}
.columns.texte-video {
	.column:nth-child(1) {
		padding-right: 2em;
	    padding-top: 2em;
	    video{
			max-height: 355px;
			border-radius: 30px;
			box-shadow: 0 0 2em 0.5em rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,0.02);
	    }
		@media screen and (max-width: $break-medium) {
			padding: 0;
		}
    }
	.column:nth-child(2) {
		padding-top: 6em;
		@media screen and (max-width: $break-medium) {
			padding-top: 1em;
		}
	}
}

.columns.texte-mission .column:nth-child(2) {
	@media screen and (min-width: $break-medium) {
		padding-top: 2em;
	}
	@media screen and (min-width: 1216px) {
		padding-top: 4em;
	}
}

.texte-endroits,
.texte-groupe{
	img{
		max-height: 300px;
	}
}

.texte-groupe {
    @media screen and (max-width: $break-medium) {
        display: flex;
        flex-wrap: wrap;
        .column{
            flex: 0 0 auto;
            width: 100%;
        }
        .column:nth-child(1) { order: 2; padding-top: 1em; }
        .column:nth-child(2) { order: 1; }
    }
}

.commerces-category-filtres {
	position: sticky;
    top: 120px;
    @media screen and (max-width: $break-small) {
    	position: static;
    }
	.menu-list {
		a {
			display: flex;
			align-items:center;
			img {
				max-width: 30px;
				max-height: 25px;
			}
			.tag {
				min-width: 35px;
			}
		}
	}
}

.img-endroits {
    max-height: 350px;
    @media screen and (max-width: $break-small) {
        max-height: 240px;
    }
}

.hero-category {
	background: white;
    padding-bottom: 15px;
    margin-bottom: 17px;
	box-shadow: 0 2px 0 0 whitesmoke;
	h1{
		margin-bottom: 0!important;
	}
	.tags{
		margin-top: 15px;
	}
    img{
	    max-height: 210px;
	    border-radius: 6px;
	    width:100%;
	    object-fit: cover;
		@media screen and (max-width: $break-small) {
	        height: 180px;
	    }
    }
}

.map-view-columns {
    position: relative;
    @media screen and (max-width: $break-small) {
        display: flex;
        flex-wrap: wrap;
        .map-filters, map-list{
            flex: 0 0 auto;
            width: 100%;
        }
        .map-list { order: 2; }
        .map-filters { order: 1; }
    }

    .map-wrapper {
        position: sticky !important;
        top: 0;
    }
	.list-item{
		.media-left{
			width: 33%;
			img {
				max-height: 80px;
			}
		}
	}
	.media + .media{
		margin-top: 0;
		border-top: none;
	}
    #map {
        height: 100vh;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        @media screen and (max-width: $break-small) {
            display: none;
            position: fixed !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(100% - 52px);
            margin-top: 52px;
        }
    }
}

#top-location-info {
    position: fixed;
    width: 100%;
    padding-bottom: 0.7em;
    z-index: 10;
    top: 52px;
}
#products-list {
	.column {
        @media screen and (max-width: $break-small) {
	        padding: 0.5rem;
	    }
	}
	&.products-promo {
		.product-card {
			.product-title{
		        @media screen and (max-width: $break-small) {
			        height: 100px;
			    }
			}
		}
	}
}

.product-card{
    border-radius: 7px;
    overflow: hidden;
	.card-content{
	    @media screen and (max-width: $break-small) {
	        padding: 0.5rem;
	    }
	}
	.product-title{
		min-height: 50px;
		height: 50px;
		display: block;
	}
	.product-price {
        @media screen and (max-width: $break-small) {
			font-size: 1.1em !important;
	    }
        @media screen and (max-width: 335px) {
			font-size: 1em !important;
	    }
		small {
			font-size: 0.7em;
		}
	}
	img {
		min-height: 255px;
		object-fit: cover;
        @media screen and (max-width: $break-small) {
			min-height: 185px;
			object-fit: cover;
		}
	}
}
#ads-container{
	.splide__track{
		padding-bottom: 2em;
		padding-top: 2px;
	}
	.splide__slide{
		position: relative;
		color: #fff;
		border-radius: .5rem;
		line-height: 1.5;
		margin-left: 10px;
		margin-right: 10px;
		img{
			max-height: 170px;
		}
	}
	.splide__arrow--next {
	    right: -3em;
        @media screen and (max-width: $break-small) {
			right: -0.5em;
		}
	}
	.splide__arrow--prev {
	    left: -3em;
        @media screen and (max-width: $break-small) {
			left: -0.5em;
		}
	}
}
.location-card {
	border-radius: 7px;
	min-height: 181px;
	.card-image{
	    @media screen and (max-width: $break-medium) {
	        padding: 0.5rem;
	    }
		padding: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 164px;
		img {
			max-height: 110px;
		}
	}
	hr {
		margin: 0 0 1em 0;
	}
	.excerpt {
		margin-bottom: 1em;
	}
	.tags{
		justify-content: center;
		.tag {
			padding-top: 5px;
			padding-bottom: 5px;
			height: auto;
	    	min-width: 150px;
			box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
		}
	}
}
.home-locations {
	.location-card {
		min-height: 0;	
	}
}
.sub-title-location {
	@media screen and (max-width: $break-small) {
       margin-bottom: 0 !important;
    }
}

.loading {
  overflow: hidden;
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(200, 200, 200, .4), transparent);
    animation: loading 1.5s infinite;
  }

}

.placeholder-item {
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    min-height: 20px;
	min-width: 150px;
	color: transparent;
}

.placeholder-item.sm{
	min-width: 30px;
}

.placeholder-item::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
	width: 150px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, #E8C2E5 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    @media screen and (max-width: $break-small) {
       background: linear-gradient(to right,transparent 0,#e8e8e8 40%,transparent 0%);
    }
}

.expedier-marche{
	.box{
		img{
			max-height: 70px;
		}
	}
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}


.product-img{
	background-image: url('/assets/imgs/products/background-products.svg');
	padding: 3rem;
	background-repeat: no-repeat;
	@media screen and (max-width: $break-medium) {
        padding: 1rem;
    }
	.placeholder-item{
		height: 425px;
		@media screen and (max-width: $break-small) {
			height: 325px;
		}
	} 
}

.options-img{
	.placeholder-item{
		height: 305px;
	}
}
#filter-box {
	position: sticky;
	top: 105px;
}
#mobile-filter-box {
	position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 250ms cubic-bezier(0.165,0.84,0.44,1);
}
#mobile-filter-box.is-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
#mobile-filter-tags {
	position: fixed;
    z-index: 7;
    top: 53px;
    width: 100%;
    height: 62px;
    display: flex;
    padding: 1.25rem 0.75rem;
    background: white;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 2px 0 0 whitesmoke;
    .mobile-filter-wrapper{
	    margin-top: -0.25em;
		margin-bottom: -0.5em;
		.tags {
			flex-wrap: nowrap;
		}
    }
}
#filter-button {
	position: fixed;
    top: 130px;
    right: 10px;
    z-index: 90;
    border: 1px solid #363636;
    box-shadow: 0 0em 1em 0.5em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02);
}
#category-filters {
	.tag {
		min-width: 177px;
		@media screen and (max-width: $break-medium) {
	        min-width: 150px;
	    }		
		@media screen and (max-width: $break-medium) {
	        min-width: 100px;
	    }
	}
}

.filtre-category {
    position: sticky !important;
    top: 0;
    .filtre-category-list{
        height: 95vh;
        overflow-y: auto;  
    }
}

.activite-item {
    border-radius: 10px;
    a {
        color: $grey-dark;
        &:hover {
            color: $primary;
        } 
    }
}

.tip-choice{
	height: 65px;
	width: 85px;
	border-radius: 10px;
	background-color: white;
    border: 1px solid #dbdbdb;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
		background-color: #eeebfe;
	    color: #3717f7;
	    border-color: transparent;
    }
    @media screen and (max-width: $break-small) {
		height: 70px;
		width: 65px;
    }
    &.active{
		background-color: #eeebfe;
	    color: #3717f7;
	    border-color: transparent;
    }
}
.quadrat {
  -webkit-animation: flash 2s ease-in-out infinite;  /* Safari 4+ */
  -moz-animation: flash 2s ease-in-out infinite;  /* Fx 5+ */
  -o-animation: flash 2s ease-in-out infinite;  /* Opera 12+ */
  animation: flash 2s ease-in-out infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes flash {
	from {background-color: rgba(10,10,10,0.9);}
	50%  {background-color: rgba(10,10,10,0.4);} /* ignored */
	to   {background-color: rgba(10,10,10,0.9);}
}
#install-notification{
	position: fixed;
	bottom: -13px;
    left: 10px;
    right: 10px;
    z-index: 99;
	transform: translateX(-120%);
	-webkit-transform: translateX(-120%);
	transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.5), 0 0 0 1px rgba(10,10,10,0.3);
	&.is-active{
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	&:after{
	    content:'';
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -10px;
	    width: 0;
	    height: 0;
	    border-top: solid 10px #eeebfe;
	    border-left: solid 10px transparent;
	    border-right: solid 10px transparent;
	}
}

#admin {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .dropzone-wrapper {
        width: 50%;
        padding: 5px;
        margin: 0 auto;

        #fileupload {
            padding: 0;
            border: unset;
        }

        span {
            width: 250px;
        }
        .dz-message {
            display: none;
            text-align: center;
            font-size: 28px;
        }
    }
    .products-container{
	    overflow-x: auto;
	    overflow-y: hidden;
	    .columns{
		    min-width: 500px;
	    }
    }
}

.variant-columns{
	&.selected{
		background: #fbfbfb;
		border: 1px solid grey;
	}
}


#product-variants .product-variant{
	padding-top: 15px;
	padding-bottom: 15px;
	
	&:nth-child(even) {
		.columns{
			background: #ECECEC;
		}
	}
}

.admin-menu-container {
    @media screen and (max-width: $break-small) {
		position: fixed;
	    background: #FBFBFE;
	    z-index: 100;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    max-height: 100%;
	    overflow-y: auto;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&.is-active{
			transform: translateX(0);
			-webkit-transform: translateX(0);
		}
    }
}
.seller-admin-menu-container {
	position: fixed;
    background: #FBFBFE;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	&.is-active{
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
#quick-menu-seller{
    @media screen and (max-width: $break-small) {
	    white-space: nowrap;
		overflow-x: auto;
	}
	.box{
    	@media screen and (max-width: $break-small) {
		    max-width: 150px;
		    min-height: 122px;
		    display: inline-block;
		    margin-right: 11px;
		    white-space: normal;
		    &:not(:last-child){
			    margin-bottom: 0;
		    }
	    }
		b{
			font-size: 0.9em;
		}
		&.is-active{
			background-color: #eeebfe;
		    color: #3717f7;
		}
	}
}

#location-exists,
#location-sports{
    display: none;
}

#location-sports,
#modal-tags {
    .tag {
        cursor: pointer;
    }
}

.cart-wrapper{
	width: 100%;
	max-width: 420px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 2147483647;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	&.is-active{
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	@media screen and (max-width: $break-small) {
		max-width: 100%!important;
	}
	.cart-inner{
		height: 100%;
		background-color: #fff;
		width: calc(100% - 10px);
		position: absolute;
        right: 0;
        box-shadow: 0 0 16px rgba(0,0,0,.2);
        @media screen and (max-width: $break-small) {
		    background-color: #fafafa;
		    width: 100%;
		    box-shadow: none;
		}
		.cart-header{
			padding: 20px;
			position: relative;
			z-index: 2147483647;
			@media screen and (max-width: $break-small) {
				padding: 0px 0.75rem;
				border-bottom: 1px solid #ddd;
				background: #fff;
            }
            
		}
		.cart-scroll{
			padding: 70px 0 167px;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			@media screen and (max-width: $break-small) {
				padding: 58px 0 167px;
			}
			.cart-empty-text{
			    padding: 10px 15px;
    			text-align: center;
			}
			.cart-items{
				display: none;
				overflow: hidden;
				overflow-y: auto;
				height: 100%;
				position: relative;
				padding: 0 20px 20px;
				-webkit-overflow-scrolling: touch;
				-webkit-perspective: 400px;
				perspective: 400px;
				-webkit-perspective-origin: 50% 0;
				perspective-origin: 50% 0;
				@media screen and (max-width: $break-small) {
					padding: 11px 10px 20px;
					background: #fafafa;
				}
				.cart-item{
					min-height: 65px;
					margin-bottom: 20px;
					overflow: hidden;
					position: relative;
					-webkit-backface-visibility: visible;
					backface-visibility: visible;
					-webkit-animation: .2s flipIn forwards;
					animation: .2s flipIn forwards;
					@media screen and (max-width: $break-small) {
						min-height: 184px;
						margin: 0 0 15px;
						background: #fff;
    					padding: 14px;
					}
				}
			}
		}
		.cart-bottom{
			display: none;
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 20px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
	}
	&:not(.is-empty){
		.cart-inner{
			.cart-scroll{
				.cart-empty-text{
					display: none;
				}
				.cart-items{
					display: block;
				}
			}
			.cart-bottom{
				display: block;
			}
		}
	}
	.free-shipping-cart-item:not(:last-child) { 
        margin-bottom: 10px; 
    } 
}

.delete{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
    &::before{
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
        height: 2px;
        width: 50%;
    }
    &::after{
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
        height: 50%;
        width: 2px;
    }
}

#cart-notification{
    position: fixed;
    width: 300px;
    top: 95px;
    right: 15px;
    z-index: 40;
	transform: translateX(1500%);
	-webkit-transform: translateX(150%);
	transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	&.is-active{
		transform: translateX(0);
		-webkit-transform: translateX(0);
    }
    @media screen and (max-width: $break-small) {
        top: 75px;
    }
}