@font-face {
    font-family: 'fontello';
    src: url('/fonts/icons/fontello.eot');
    src: url('/fonts/icons/fontello.eot') format('embedded-opentype'),
         url('/fonts/icons/fontello.woff') format('woff'),
         url('/fonts/icons/fontello.woff2') format('woff2'),
         url('/fonts/icons/fontello.ttf') format('truetype'),
         url('/fonts/icons/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontello {    
    font-family: 'fontello';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;

    &.icon-search:before {
        content: "\E800";
    }
    &.icon-direction:before {
        content: "\F124";
    }
    &.icon-down-open:before {
        content: "\E801";
    }
    &.icon-filter:before {
        content: "\F0B0";
    }
    &.icon-map:before {
        content: "\F279";
    }
    &.icon-close:before {
        content: "\E806";
    }
    &.icon-user:before {
        content: "\E802";
    }
    &.icon-lock:before {
        content: "\E803";
    }
    &.icon-mail-alt:before {
        content: "\F0E0";
    }
    &.icon-calendar:before {
        content: "\E804";
    }
    &.icon-plus-circled:before {
        content: "\E80C";
    }
    &.icon-users:before {
        content: "\E805";
    }
    &.icon-tag:before {
        content: "\E808";
    }
    &.icon-location:before {
        content: "\E80B";
    }
    &.icon-doc-text:before {
        content: "\E809";
    }
    &.icon-swimming:before {
        content: "\E838";
    }
    &.icon-bullet-list:before {
        content: "\F0CA";
    }
    &.icon-share:before {
        content: "\F1E0";
    }
    &.icon-facebook:before {
        content: "\F09A";
    }
    &.icon-facebook-full:before {
        content: "\F308";
    }
    &.icon-snapchat:before {
        content: "\F2AC";
    }
    &.icon-snapchat-full:before {
        content: "\F2AD";
    }
    &.icon-instagram:before {
        content: "\F16D";
    }
    &.icon-twitter:before {
        content: "\F304";
    }
    &.icon-mail:before {
        content: "\F199";
    }
    &.icon-left-open:before {
        content: "\E813";
    }
    &.icon-right-open:before {
        content: "\E814";
    }
    &.icon-phone:before {
        content: "\E819";
    }
    &.icon-spin:before {
        content: "\E839";
    }
    &.icon-cart:before {
        content: "\E81E";
    }
    &.icon-trash:before {
        content: "\E807";
    }
    &.icon-help-circled:before {
        content: "\E80A";
    }
    &.icon-check:before {
        content: "\E80D";
    }
    &.icon-clock:before {
        content: "\E80E";
    }
    &.icon-move:before {
        content: "\F047";
    }
    &.icon-rocket:before {
        content: "\F135";
    }
    &.icon-exclamation:before {
        content: "\E815";
    }
    &.icon-sound-up:before {
        content: "\E816";
    }
    &.icon-rss:before {
        content: "\F09E";
    }
    &.icon-menu:before {
        content: "\E80F";
    }
    &.icon-2x {
        font-size: 2em;
    }
}
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}